/**
 * Structure
 */

.nodeblox-structure .fieldset-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.nodeblox-structure .fieldset-wrapper > div {
  width: 30%;
  padding-right: 3%;
}
.nodeblox-structure .fieldset-wrapper input,
.nodeblox-structure .fieldset-wrapper select,
.nodeblox-structure .fieldset-wrapper textarea {
  max-width: 100%;
}

/**
 * Choose
 */

.nodeblox-choose .form-item.nodeblox-hilited {
  background-color: #cfc;
  padding-left: 10px;
  padding-right: 10px;
}
